Package: local.omnicam.app
Name: OmniCam
Version: 1.1.7
Architecture: iphoneos-arm
Description: Streams the iPhone camera over Wi-Fi to the OmniCam PC client (H.264 over RTP).
Maintainer: OmniCam
Author: OmniCam
Section: Utilities
